@media (max-width: 414px) {
  body {
    margin: 0 !important;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  p,
h3,
h4 {
    margin: 0;
  }

  header {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03), 1px 4px 16px rgba(14, 21, 28, 0.05);
  }

  .img-header {
    width: 40%;
  }
}
@media (max-width: 414px) {
  .location {
    background-color: #eaeaea;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location p {
    margin-left: 8px;
    font-weight: 700;
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  .top-main {
    background-color: #f6f6f6;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .top-main h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
  }
  .top-main p {
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
  }
  .top-main button {
    background: linear-gradient(177deg, #ff79da 19%, #9356dc 74%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03), 1px 4px 16px rgba(14, 21, 28, 0.05);
    margin-top: 35px;
  }
  .top-main button:hover {
    transform: scale(1.05);
    background: linear-gradient(177deg, #ff97e2 19%, #a076d1 74%);
    box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03), 1px 4px 16px rgba(14, 21, 28, 0.05);
    transition: all 0.3s;
  }
}

@media (max-width: 414px) {
  .fonctionnement {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15px;
  }
  .fonctionnement h3 {
    margin-bottom: 35px;
    font-size: 25px;
  }
  .fonctionnement .choose {
    position: relative;
    background-color: #f6f6f6;
    padding: 20px 0 20px 25px;
    box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03), 1px 4px 16px rgba(14, 21, 28, 0.05);
    border-radius: 24px;
  }
  .fonctionnement .choose p {
    font-size: 16px;
    font-weight: 700;
  }
  .fonctionnement .choose:hover {
    background-color: #f6edff;
    cursor: pointer;
  }
  .fonctionnement .choose:hover i {
    color: #9256dc;
  }
  .fonctionnement .choose i {
    margin: 0 20px;
    color: #7e7e7e;
  }
  .fonctionnement .choose .number {
    position: absolute;
    left: -10px;
    background-color: #9356dc;
    padding: 7px 12px;
    border-radius: 50%;
    color: white;
  }
  .fonctionnement .menu {
    position: relative;
    margin-top: 25px;
    background-color: #f6f6f6;
    padding: 20px 0 20px 25px;
    box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03), 1px 4px 16px rgba(14, 21, 28, 0.05);
    border-radius: 24px;
  }
  .fonctionnement .menu p {
    font-size: 16px;
    font-weight: 700;
  }
  .fonctionnement .menu:hover {
    background-color: #f6edff;
    cursor: pointer;
  }
  .fonctionnement .menu:hover i {
    color: #9256dc;
  }
  .fonctionnement .menu i {
    margin: 0 20px;
    color: #7e7e7e;
  }
  .fonctionnement .menu .number {
    position: absolute;
    left: -10px;
    background-color: #9356dc;
    padding: 7px 12px;
    border-radius: 50%;
    color: white;
  }
  .fonctionnement .taste {
    position: relative;
    margin-top: 25px;
    background-color: #f6f6f6;
    padding: 20px 0 20px 25px;
    box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03), 1px 4px 16px rgba(14, 21, 28, 0.05);
    border-radius: 24px;
  }
  .fonctionnement .taste p {
    font-size: 16px;
    font-weight: 700;
  }
  .fonctionnement .taste:hover {
    background-color: #f6edff;
    cursor: pointer;
  }
  .fonctionnement .taste:hover i {
    color: #9256dc;
  }
  .fonctionnement .taste i {
    margin: 0 20px;
    color: #7e7e7e;
  }
  .fonctionnement .taste .number {
    position: absolute;
    left: -10px;
    background-color: #9356dc;
    padding: 7px 12px;
    border-radius: 50%;
    color: white;
  }
}

/*# sourceMappingURL=accueil.css.map */
