$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$footer-background-color: #353534;
$grey: #eaeaea;
$light-grey: #f6f6f6;
$color-icon-home: #7d7d7d;
$menu-item-hover: #f6edff;
$background-new: #98e2ce;
$color-new: #00815e;
