@media (max-width: 599px) {
  .home-button {
    background: linear-gradient(
      171deg,
      rgba(255, 121, 218, 1) 17%,
      rgba(147, 86, 220, 1) 57%
    );
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-size: 22px;
    transition: all 0.3s;

    &:hover {
      color: white !important;
      transform: scale(1.05);
    }
  }

  .favorite {
    font-size: 28px !important;
    cursor: pointer;
    border: 0 solid transparent;
    position: relative;
    .empty {
      &:hover {
        opacity: 1;
        -webkit-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
      }
    }
    .full {
      transition: color 0.2s ease-in-out;
      position: absolute;
      color: white;
      border: 0 solid transparent;
      right: 0px;
      opacity: 0%;
      transition: all 0.3s;

      &:hover {
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#9356dc),
          to(#ff79da)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 100%;
      }
    }
  }

  .commande {
    background: linear-gradient(171deg, #ff79da 17%, #9356dc 57%);
    color: white;
    padding: 15px 45px;
    border-radius: 30px;
    width: fit-content;
    font-size: 18px;
    display: flex;
    text-align: center;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: white !important;
      transform: scale(1.05);
    }
  }
}
