.home-button {
  background: linear-gradient(
    171deg,
    rgba(255, 121, 218, 1) 17%,
    rgba(147, 86, 220, 1) 57%
  );
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-size: 22px;
  &:hover {
    color: white !important;
  }
}

.favorite {
  font-size: 28px !important;
  cursor: pointer;
  i:hover {
    background: rgb(255, 121, 218);
    background: linear-gradient(
      7deg,
      rgba(255, 121, 218, 1) 11%,
      rgba(147, 86, 220, 1) 47%
    );
  }
}

.commande {
  background: linear-gradient(171deg, #ff79da 17%, #9356dc 57%);
  color: white;
  padding: 15px 45px;
  border-radius: 30px;
  font-size: 18px;
  margin-left: 27%;
  cursor: pointer;
  &:hover {
    color: white !important;
  }
}
