.home-button {
  background: linear-gradient(171deg, #ff79da 17%, #9356dc 57%);
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-size: 22px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0 !important;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none;
}

footer {
  background-color: red;
}

footer {
  padding: 20px 40px;
  background-color: #353534;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer i {
  margin-right: 10px;
}
footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 8px;
}
footer a:last-child {
  margin-bottom: 0;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
}

header {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(14, 21, 28, 0.03), 1px 4px 16px rgba(14, 21, 28, 0.05);
  padding: 25px 0px;
}
header img {
  margin-left: 147px;
}

.location {
  font-size: 20px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
}
.location i {
  margin-right: 20px;
}

.index-container .top-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 45px 50px;
}
.index-container .top-main h3 {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}
.index-container .top-main p {
  font-size: 20px;
  color: #646565;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 25px;
}

.fonctionnement {
  padding: 30px 20px;
}
.fonctionnement h3 {
  font-size: 25px;
  font-weight: 700;
}
.fonctionnement .menu-item {
  display: flex;
  margin-top: 20px;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 20px;
}
.fonctionnement .menu-item p {
  margin-left: 16px;
  font-size: 18px;
}
.fonctionnement .menu-item i {
  color: #7d7d7d;
}
.fonctionnement .menu-item:hover {
  cursor: pointer;
  background-color: #f6edff;
}
.fonctionnement .menu-item:hover i {
  color: #9356dc;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 25px;
}
.restaurant h3 {
  font-size: 25px;
  font-weight: 700;
}
.restaurant li {
  width: 100%;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 16px;
  position: relative;
}
.restaurant figure img {
  width: 100%;
  height: 296px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.restaurant figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px 20px 15px;
  box-sizing: border-box;
}
.restaurant figcaption h4 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.restaurant figcaption p {
  font-size: 18px;
  font-weight: 100;
  color: black;
}
.restaurant figcaption .favorite {
  font-size: 28px;
}
.restaurant figcaption .favorite i:hover {
  background: #ff79da;
  background: linear-gradient(7deg, #ff79da 11%, #9356dc 47%);
}
.restaurant .new {
  position: absolute;
  background-color: #98e2ce;
  color: #00815e;
  right: 15px;
  top: 18px;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 4px;
}

/*# sourceMappingURL=main.css.map */
